In [1]:
from datetime import datetime
import pandas as pd
import numpy as np
%matplotlib inline
import matplotlib.pyplot as pyplot
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LogisticRegression
data = pd.read_csv('/Users/siddarthapaturu/Downloads/data.csv')

In [2]:
data.shape

(1304543, 25)

In [3]:
data.columns =['MeterNo','AccountName','AccountType','BillCycle','BillCycleID','Date','DateStr',
               'Event','ExceptionType','ExceptionTypeDesc',
               'MeterType','MeterReadType','MeterReadTypeDesc','ServicePt',
               'UOM','UOMName','TimeStamp','CurrBillCycle','PremiseName',
               'Latitude','Longitude','DateId','Value1','Value2','Record_count']

In [4]:
data.head(5)

,MeterNo,AccountName,AccountType,BillCycle,BillCycleID,Date,DateStr,Event,ExceptionType,ExceptionTypeDesc,...,UOMName,TimeStamp,CurrBillCycle,PremiseName,Latitude,Longitude,DateId,Value1,Value2,Record_count
0,1679,Thane,RESIDENTIAL,BILL CYCLE 10,BC10,2017-04-15,20170415,NONE,NONE,NONE,...,kilowatts,22:45:00,0,33rd Street,36.044636,-120.321359,105,0.3358,NaN,1
1,1679,Thane,RESIDENTIAL,BILL CYCLE 10,BC10,2017-02-01,20170201,NONE,NONE,NONE,...,kilowatts,22:15:00,0,33rd Street,36.044636,-120.321359,32,0.9234,NaN,1
2,1679,Thane,RESIDENTIAL,BILL CYCLE 10,BC10,2017-01-21,20170121,NONE,NONE,NONE,...,kilowatts,22:45:00,0,33rd Street,36.044636,-120.321359,21,0.5033,NaN,1
3,1679,Thane,RESIDENTIAL,BILL CYCLE 10,BC10,2017-01-29,20170129,NONE,NONE,NONE,...,kilowatts,21:30:00,0,33rd Street,36.044636,-120.321359,29,0.2807,NaN,1
4,1679,Thane,RESIDENTIAL,BILL CYCLE 10,BC10,2017-01-16,20170116,NONE,NONE,NONE,...,kilowatts,22:15:00,0,33rd Street,36.044636,-120.321359,16,0.5097,NaN,1

In [5]:
data[data['ExceptionType'] != 'NONE']
print(len(data[data['ExceptionType'] != 'NONE']))

242

#### Less than 1% of data have exceptions

#### Unique Categories in the Data

In [6]:
print(data['AccountType'].unique())
print(data['BillCycleID'].unique())
print(data['Event'].unique())
print(data['ExceptionType'].unique())
print(data['MeterType'].unique())
print(data['MeterReadTypeDesc'].unique())
print(len(data['MeterNo'].unique()))

['RESIDENTIAL' 'INDUSTRIAL' 'COMMERCIAL']
['BC10' 'BC5' 'BC16' 'BC15' 'BC4' 'BC8' 'BC22' 'BC7' 'BC21' 'BC20' 'BC3'
 'BC2' 'BC14' 'BC19' 'BC18' 'BC17' 'BC13' 'BC1' 'BC12' 'BC11' 'BC9' 'BC6']
['NONE' 'Opened' 'Cleared' 'Stopped' 'Error' 'Reset' 'LossDetected'
 'Changed' 'Failed' 'MinLimitReached']
['NONE' 'Security' 'Service/Meter Type Mismatch' 'Communication Failure'
 'Firmware Failure' 'Inaccurate Reading/Data Collection Failure'
 'Power Outage' 'Configuration Failure' 'Meter Clock Failure'
 'Battery Failure']
['E']
['ACTUAL' 'MISSING' 'ESTIMATED']
100

In [7]:
data.dtypes

MeterNo                int64
AccountName           object
AccountType           object
BillCycle             object
BillCycleID           object
Date                  object
DateStr                int64
Event                 object
ExceptionType         object
ExceptionTypeDesc     object
MeterType             object
MeterReadType         object
MeterReadTypeDesc     object
ServicePt             object
UOM                   object
UOMName               object
TimeStamp             object
CurrBillCycle          int64
PremiseName           object
Latitude             float64
Longitude            float64
DateId                 int64
Value1               float64
Value2               float64
Record_count           int64
dtype: object

In [8]:
data['MeterNo'] = data['MeterNo'].astype('str')
data['AccountType'] = data['AccountType'].astype('category')
data['BillCycleID'] = data['BillCycleID'].astype('category')
data['Event'] = data['Event'].astype('category')
data['ExceptionTypeDesc'] = data['ExceptionTypeDesc'].astype('category')
data['MeterReadTypeDesc'] = data['MeterReadTypeDesc'].astype('category')
data['Date'] = pd.to_datetime(data['Date'])
data['TimeStamp'] = pd.to_datetime(data['TimeStamp'])

#### Filtering the data for each sector and considering only required colums to build a model

In [9]:
df = data[['MeterNo','AccountType','BillCycleID','Date','TimeStamp','Event','ExceptionType','MeterReadTypeDesc','ServicePt','CurrBillCycle','Latitude','Longitude','Value1']]
df_residential = df[df['AccountType'] == 'RESIDENTIAL']
df_commercial = df[df['AccountType'] == 'COMMERCIAL']
df_industrial = df[df['AccountType'] == 'INDUSTRIAL']